<%# return_path is defined %>
<% if new %>
  <% return_path = root_path %>
<% else %>
  <% return_path = team_path team %>
<% end %>

<%= form_with(model: team, url: url, local: true) do |form| %>
  <div class="text-left">
    <%= link_to return_path, id: :return_icon do %>
      <i class="material-icons">arrow_back</i>
    <% end %>
  </div>
  <% if team.errors.any? %>
    <div>
      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li class="text-alert"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-2 mb-3">
    <%= form.text_field :name, class: "input", placeholder: Team.human_attribute_name(:name), autofocus: true %>
  </div>

  <% if new %>
    <%= button_tag "Create", id: "create_team_button", class: "button bg-accent", data: { disable_with: "Creating..." } %>
  <% else %>
    <%= button_tag "Update", id: "update_team_button", class: "button bg-accent mb-2", data: { disable_with: "Updating..." } %><br />
    <%= link_to "Delete", destroy_team_path(team), method: :delete, id: "delete_team_button", class: "text-alert", data: { confirm: "チームの削除は元に戻すことができません。また、チームの全てのメンバーも削除されます。本当に削除しますか？" } %>
  <% end %>

<% end %>