<div class="container my-3">
  <h2>
    <%= @team.name %>
    <%= link_to edit_team_path(@team), id: :edit_team_icon do %>
      <i class="material-icons text-accent">edit</i>
    <% end %>
  </h2>
  <p style="overflow: scroll;" class="text-secondary"><%= request.url %></p>
  <p class="mb-2" style="color: #AAA;">URLを共有してメンバーを招待しましょう！</p>
  <%= link_to "Answer 4 questions", new_member_path(team: @team.uid), id: 'answer_button', class: 'button mb-3 bg-accent' %>

  <div class="px-1">
    <div class="card card-accent-left mb-3">
      <ol class="ml-0 ol-questions">
        <li>自分は何が得意なのか？</li>
        <li>自分はどんなふうに仕事をするか？</li>
        <li>自分が大切に思う価値は何か？</li>
        <li>チームメンバーは自分にどんな成果を期待してるか？</li>
      </ol>
    </div>
  </div>

  <div class="f-container">
    <% @members.each do |member| %>
      <div class="f-item-12 p-1">
        <div class="card card-primary-left h-100 member-card">
          <div class="mb-1 card-header">
            <h3 class="mr-auto"><%= member.name %></h3>
            <%= link_to edit_member_path member do %>
              <i class="material-icons text-accent edit-icon">edit</i>
            <% end %>
          </div>
          <%= render 'member_card', answers: member.ans_q1 %>
          <%= render 'member_card', answers: member.ans_q2 %>
          <%= render 'member_card', answers: member.ans_q3 %>
          <%= render 'member_card', answers: member.ans_q4 %>
        </div>
      </div>
  <% end %>
  </div>

</div>
