<div class="p-1" style="border-bottom: solid 1px #CDCECF;">
  <h3>Team & Member</h3>
</div>

<div class="container my-2">
  <h2>
    <%= @team.name %>
    <%= link_to edit_team_path(@team), id: :edit_team_icon do %>
      <i class="material-icons text-accent">edit</i>
    <% end %>
  </h2>
  <p style="overflow: scroll;" class="text-secondary"><%= request.url %></p>
  <p class="mb-2" style="color: #AAA;">URLを共有してメンバーを招待しましょう！</p>

  <div class="f-container mb-2">
    <% @members.each do |member| %>
      <div class="f-item-4 p-1">
        <%= link_to edit_member_path member do %>
          <div class="card card-hover h-100 member-card">
            <%= image_tag 'how_to_use_1.png', class: "w-50 mb-1", style: "border-radius: 50%;" %>
            <h3 class="mr-auto text-black"><%= member.name %></h3>
            <% if member.role.present? %>
              <p class="text-black"><%= member.role %></p>
            <% end %>
          </div>
        <% end %>
      </div>
  <% end %>
  </div>

  <%= link_to new_member_path(team: @team), id: 'new_member_button', class: 'button mb-1 bg-accent' do %>
    <span class="text-middle"><i class="material-icons">add</i>Member</span>
  <% end %>
</div>
