<!DOCTYPE html>
<html>
  <head>
    <title>4Q4T -Easy Drucker Exercise Tool-</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- metatag -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="4Q4Tは、チームメンバー同士の期待を可視化し確認しあうためのツールです。『ドラッカー風エクササイズ』というチームビルディングに効果的なワークショップを気軽に実践することができます。<br>「チームが期待に応えてくれない…」「チームの期待に応えられていないかも…」そんな悩みを解消するために、チーム全員で取り組んでみてください。">
    <% if @noindex %>
    <meta name="robots" content="noindex,nofollow">
    <% end %>
    <meta name="format-detection" content="email=no,telephone=no,address=no">

    <!-- OGP tag -->
    <meta property="og:url"         content=<%= root_url %>>
    <meta property="og:title"       content="4Q4T -Easy Drucker Exercise Tool-">
    <meta property="og:type"        content="website">
    <meta property="og:description" content="4Q4Tは、チームメンバー同士の期待を可視化し確認しあうためのツールです。『ドラッカー風エクササイズ』というチームビルディングに効果的なワークショップを気軽に実践することができます。<br>「チームが期待に応えてくれない…」「チームの期待に応えられていないかも…」そんな悩みを解消するために、チーム全員で取り組んでみてください。">
    <meta property="og:image"       content=<%= image_url("ogp.png") %>>
    <meta name="twitter:card"       content="summary_large_image">
    <meta name="twitter:site"       content="@at_946">
    <meta property="og:site_name"   content="4Q4T -Easy Drucker Exercise Tool-">
    <meta property="og:locale"      content="ja_JP">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <% if flase %>
    <%# if Rails.env.production? %>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M4ZPCGH');</script>
    <!-- End Google Tag Manager -->
    <% end %>
  </head>

  <body>
    <% if false %>
    <%# if Rails.env.production? %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4ZPCGH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% end %>
    
    <header class="header">
      <div class="container">
        <%= link_to "4Q4T", root_path, id: :header_logo, class: "header-logo" %>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <ul>
        <li class="mr-1" style="display: inline-block;"><%= link_to "terms", tos_path, id: :terms_link, class: "text-white" %></li>
        <li style="display: inline-block;"><%= link_to "privacy", pp_path, id: :pp_link, class: "text-white" %></li>
      </ul>
      <p>(c) at.</p>
    </footer>
  </body>
</html>
