<%= form_with(model: member, url: url, local: true) do |form| %>
  <div class="text-left">
    <%= link_to team_path(member.team), id: :return_icon do %>
      <i class="material-icons">arrow_back</i>
    <% end %>
  </div>

  <% if member.errors.any? %>
    <div>
      <ul>
        <% member.errors.full_messages.each do |message| %>
          <li class="text-alert"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-2 mb-1">
    <%= form.text_field :name, class: "input", placeholder: Member.human_attribute_name(:name), autofocus: true %>
  </div>

  <div class="mb-3">
    <%= form.text_field :role, class: "input", placeholder: Member.human_attribute_name(:role) %>
  </div>

  <div>
    <%= form.hidden_field :team_id %>
  </div>

  <% if create %>
    <%= button_tag "Create", type: :submit, id: :create_member_button, class: "button bg-accent", data: { disable_with: "Creating..." } %>
  <% else %>
    <%= button_tag "Update", type: :submit, id: :update_member_button, class: "button bg-accent mb-2", data: { disable_with: "Updating..." }  %><br />
    <%= link_to "Delete", destroy_member_path(member), method: :delete, id: "delete_member_button", class: "text-alert", data: { confirm: "メンバーの削除は元に戻すことができません。本当に削除しますか？" } %>
  <% end %>
<% end %>